body{
  background-color: lightblue;
}

h1, h4{
  color: whitesmoke;
}

.adviceBox{
  width: 30%;
  margin: 15% auto;
  padding: 5%;
  background: grey;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

.button{
  background-color: teal;
  color: whitesmoke;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: none;
  font-weight: 700;
}
